<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @reply.title %>
</p>

<p>
  <b>Body:</b>
  <%= @reply.body %>
</p>

<p>
  <b>User:</b>
  <%= @reply.user.email %>
</p>
    <!--
<p>
  <b>Post:</b>
  <% @reply.post.title %>
</p>
       -->

<%= link_to 'Edit', edit_reply_path(@reply) %> |
<%= link_to 'Back', posts_path %>
