<p id="notice"><%= notice %></p>

<p>
  <b>Reply:</b>
  <%= @reply_vote.reply.title %>
</p>

<p>
  <b>User:</b>
  <%= @reply_vote.user.email %>
</p>


<%= link_to 'Edit', edit_reply_vote_path(@reply_vote) %> |
<%= link_to 'Back', reply_votes_path %>
