<br/>
<h1 class="big">Welcome to Goldfish Live Questions!</h1>
<br/>
<h2 class="big">Goldfish Live Questions is an on-line application for question posting. Your questions will be answered here by professors, TAs and other students.</h2>

<div id="user_nav">
  <b>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> Update user information: <%= link_to "Update", edit_user_registration_path%>
  <% else %>
   New user: <%= link_to "Sign up", new_user_registration_path %> Existing user: <%= link_to "Sign in", new_user_session_path %>
  <% end %>
  </b>
</div>

<div id="user_admin">
  <b>
<!-- If the user id signed in and user is an admin, show admin page link -->
  <% if user_signed_in? %>
        <% if current_user.admin? %>
           <%= link_to "Application Administration", "/admin/index" %>
        <% end %>
  <% end %>
  </b>
</div>

<br />
