<h1>Create and search posts here</h1>

<form name="search_posts" method="get">
  <input name="search" type="text" size="20" />
  <input type="submit" value="Search Posts" />
</form>

<table border="1">
  <% @posts.sort_by {|post| post.weight}.each do |post| %>
    <% if post.active? and post.was_searched_for?(params[:search]) %>
      <tr>
        <td>
          <dl>
            <dt>
              <%= post.votes.count %> <%= link_to 'Votes', { action: 'create', controller: 'votes', :post_id => post.id}, method: :post %>
              <br>
              <%= mail_to post.user.email, post.user.first_name+' '+post.user.last_name %>
              &nbsp;
              <strong><%= post.title %></strong>
              &nbsp;
              <small><%= post.created_at %></small>
              &nbsp;
              <%= link_to 'Reply', { action: 'create', controller: 'replies', :post_id => post.id}, method: :post %>
            </dt>
            <dd>
              <%= post.body %>
              <% post.replies.each do |reply| %>
                <br>
                <br>
                <%= mail_to reply.user.email, reply.user.first_name+' '+reply.user.last_name %>
                &nbsp;
                <strong><%= post.title %></strong>
                &nbsp;
                <small><%= reply.created_at %></small>
                <br>
                <%= reply.body %>
              <% end %>
            </dd>
          </dl>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
<!--
<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>User</th>
    <th>Votes</th>
    <th colspan="4">Actions</th>
  </tr>
 <% @posts.sort_by {|post| post.weight}.each do |post| %>
  <% if post.active? and
        post.was_searched_for?(params[:search])
  %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.body %></td>
    <td><%= post.user.email %></td>
    <td><%= post.votes.count %></td>
    <td><%= link_to 'Vote', { action: 'create', controller: 'votes', :post_id => post.id}, method: :post %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
<% end %>
</table>
-->

<br />

<%= link_to 'New Post', new_post_path %>
<%= link_to 'Return to Homepage', users_path %>
